.Header {
  width: 100%;
  height: 90px;
  background-color: #567086;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 1.5% 10%;
  margin: 0;
  box-sizing: border-box;
}
.Navigations {
  margin: 0;
  width: 50%;

  display: flex;
  justify-content: space-between;
}
.Login {
  font-size: 15px;
}
.Login span {
  font-weight: 700;
}
.Logo {
  font-size: 21px;
}
